/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom Styles */
body {
    background: linear-gradient(to right, #4287f5, #f52377);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body, header, main, section, footer {
    text-align: center;
  }
  

header {
    background: linear-gradient(to right, #4287f5, #f52377);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

header h1 {
  margin-bottom: 0;
}

li {
    text-align: left;
}


header nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

main {
  padding: 1rem;
}

section h2 {
  margin-top: 2rem;
}

section h3 {
  margin-top: 1rem;
}

section ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
    background: linear-gradient(to right, #4287f5, #f52377);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

nav {
    justify-content: center;
}